<% if user_signed_in? && @member == current_user %>
  <h1><%= @member.name %>さんの会員詳細</h1>
  <% else %>
  <h1><%= @member.name %>さんの会員詳細</h1>
<% end %>
</div>

  <table class="table">
  <% @member.find do |member| %>
    <tr>
    <th>会員ID</th>
    <td><%= membr.id %></td>
    </tr>
    <tr>
    <th>氏名</th>
    <td><%= membr.last_name %><%= member.first_name %></td>
    </tr>
    <tr>
    <th>フリガナ</th>
    <td><%= membr.last_name_kana %><%= member.first_name_kana %></td>
    </tr>
    <tr>
    <th>氏名</th>
    <td><%= membr.last_name %><%= member.first_name %></td>
    </tr>
    <tr>
    <th>郵便番号</th>
    <td><%= membr.postal_code %></td>
    </tr>
    <tr>
    <th>住所</th>
    <td><%= membr.address %></td>
    </tr>
    <tr>
    <th>電話番号</th>
    <td><%= membr.telephone_namber %></td>
    </tr><tr>
    <th>メールアドレス</th>
    <td><%= membr.email %></td>
    </tr><tr>
    <th>会員ステータス</th>
    <td><%= membr.is_deleted %></td>
    </tr>
  <% end %>
  </table>