<h2>商品一覧（管理者）</h2>

<table class = "table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th><%= item.name %></th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %><th>
      <th><%= item.is_deleted_i18n %></th>
    </tr>
    <% end %>
  </tbody>
</table>
<li><%= link_to ' logout', destroy_admin_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>