<%= render 'admin/header' %>
<div class="container">
  <div class="raw">
    <h3>商品一覧（管理者）</h3>
    <buttn><%= link_to "商品追加", new_admin_item_path, class: 'btn btn-success' %></buttn>
  </div>

<table class = "table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <% @items.each do |item| %>
  <tbody>
    <tr>
      <th><%= item.id %></th>
      <th>
        <%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
        <% end %>
      </th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %></th>
      <th><%= item.is_deleted_i18n %></th>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
