<div>

 <div>
    <h2>ショッピングカート</h2>
    <table>
     <thead>
      <tr>
       <th>商品名</th>
       <th>単価（税込み）</th>
       <th>数量</th>
       <th>小計</th>
       <th></th>
      </tr>
     </thead>
     <tbody>
         <% @cart_items.each do |cart_item| %>
         <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price%></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.subtotal%></td>
          <% @合計金額 +=  cart_item.subtotal %>
          <td><%= link_to "削除する" %></td>
         </tr>
         <% end %>
     </tbody>
    </table>
 </div>

 <div>
     <div>カートを空にする</div>
     <div><%= link_to "買い物を続ける" %></div>
     <div>情報入力に進む</div>
 </div>

</div>