<%= render 'public/header', member: @member %>
<div class="mx-auto" style="width: 400px;">
<h1 class="font-weight-bold" >配達先編集</h1>
<%= form_with model:@delivery_address, url:public_delivery_address_path(@delivery_address), local:true do |f| %>
  <h4>郵便番号（ハイフンなし）</h4>
  <%= f.text_field :postal_code %>
  <h4>住所</h4>
  <%= f.text_area :residence %>
  <h4>宛名</h4>
  <%= f.text_field :name %>
  <%= f.submit '変更内容を保存', class: 'btn btn-success' %>
<% end %>
</div>