<%= render 'public/header', member: @member %>

<h3>注文情報確認画面</h3>

<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>

    <% @cart_items.each do |cart| %>
      <%= cart.item.name %>
      <%= (cart.item.price).to_s(:delimited) %>
      <%= cart.quantity %>
      <%= (cart.item.price*cart.quantity).to_s(:delimited) %>
    <% end %>

    <%= form_with model: @order, url:public_orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :adress, value: @order.adress %>
      <%= f.hidden_field :total_payment, value: @total %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :postal_code, value: @order.postal_code %>
      <%= f.submit "注文を確定する" %>
    <% end %>
  </thead>


</table>